<page-header [title]="'Consulta de Operadoras'">

  <ul class="navbar-nav mr-auto mt-2 mt-md-0 header-itens">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>

</page-header>

<div class="container-fluid" style="padding-top: 15px;">

  <div class="card hoverable">
    <div class="card-block">
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Reg. ANS</th>
          <th>CNPJ</th>
          <th>Razão Social</th>
          <th>Classificação</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>00052-9</td>
          <td>04.644.050/0001-70</td>
          <td>Seguro Saúde S.A.</td>
          <td>Seguradora Especializada</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>00302-2</td>
          <td>04.656.030/0001-60</td>
          <td>Medicina de Grupo Saúde S.A.</td>
          <td>Medicina de Grupo</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>00442-4</td>
          <td>04.356.330/0001-65</td>
          <td>Autogestão Saúde S.A.</td>
          <td>Autogestão</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
