<page-header [title]="'Consulta de Operadoras'">

  <ul class="navbar-nav mr-auto mt-2 mt-md-0 header-itens">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>

</page-header>

<div class="container-fluid" style="padding-top: 15px;">

  <div class="card hoverable">

    <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>

    <div class="card-footer text-muted">

      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        <input #search class="search" type="text" placeholder=" Procurar no grid..." (keydown.enter)="onSearch(search.value)">
      </div>

    </div>


  </div>

</div>






