<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-internal">
  <button class="navbar-toggler navbar-toggler-right"
          type="button" data-toggle="collapse"
          data-target="#navbarToggler02" aria-controls="navbarToggler02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <div><a class="nav-link page-back" href="#"><i class="fa fa-arrow-left"></i></a></div>
      <div><span class="navbar-brand page-title mr-auto">{{title}}</span></div>
    </div>

    <div class="collapse navbar-collapse" id="navbarToggler02">

      <ng-content></ng-content>

    </div>

  </div>
</nav>
