.sidebar-toggle {
  position: absolute;
  top: 16px;
  left: 266px;
  z-index: 1;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-toggle i {
  color: rgba(255, 255, 255, 0.8);
}

.sidebar-toggle i:hover {
  color: rgba(255, 255, 255, 1);
}

.toggled > .sidebar-toggle {
  left: 16px;
}

.wrapper > .content {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper.toggled > .content {
  padding-left: 0;
}

.wrapper app-sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #263238;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper.toggled app-sidebar {
  width: 0;
}
