<div class="sidebar-menu company-menu text-center">
    <a href="#"><img src="/assets/img/company_logo.gif" class="rounded float-center"></a>
</div>

<div class="sidebar-menu">
  <span class="menu-header">Mais acessados</span>
  <a href="dashboard"><i class="fa fa-star"></i>Dashboard</a>
  <a href="produtos"><i class="fa fa-star"></i>Produtos > Consulta</a>
</div>

<div class="sidebar-menu">
  <span class="menu-header">Produtos</span>
  <a href="#"><i class="fa fa-home"></i>Início</a>
  <a href="dashboard"><i class="fa fa-line-chart"></i>Dashboard</a>
  <a href="operadoras"><i class="fa fa-hospital-o"></i>Operadoras</a>
  <a href="produtos"><i class="fa fa-shopping-bag"></i>Produtos</a>
  <a href="planos"><i class="fa fa-heartbeat"></i>Planos</a>

</div>
