<div class="sidebar-menu">
  <span class="menu-header">Mais acessados</span>
  <a href="#"><i class="fa fa-star"></i>Produtos > Consulta</a>
  <a href="#"><i class="fa fa-star"></i>Operadoras > Consulta</a>
</div>

<div class="sidebar-menu">
  <span class="menu-header">Produtos</span>
  <a href="#"><i class="fa fa-home"></i>Início</a>
  <a href="#"><i class="fa fa-hospital-o"></i>Operadoras</a>
  <a href="#"><i class="fa fa-shopping-bag"></i>Produtos</a>
  <a href="#"><i class="fa fa-heartbeat"></i>Planos</a>
</div>
