<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button"
          data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand mr-6" href="#">
    <img src="/assets/img/logo_branco.png" width="30" height="30" alt="">
    FxSaúde
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <span class="navbar-text mr-auto">
      <span class="badge badge-default module-badge">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        Produtos
      </span>
    </span>

    <ul class="navbar-nav">
     <li class="nav-item dropdown-user">

       <div class="dropdown">
         <a class="nav-link dropdown-toggle" data-toggle="dropdown">
           <img class="img-fluid rounded-circle" src="assets/img/user.jpeg">
           <span>Leonam Anjos</span>
           <i class="caret"></i>
        </a>

         <div class="dropdown-menu">
           <a class="dropdown-item" href="#"><i class="fa fa-comments" aria-hidden="true"></i>Mensagens</a>
           <a class="dropdown-item" href="#"><i class="fa fa-tasks" aria-hidden="true"></i>Minhas tarefas</a>
           <a class="dropdown-item" href="#"><i class="fa fa-user" aria-hidden="true"></i>Meu perfil</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item " href="#"><i class="fa fa-cog" aria-hidden="true"></i>Configurações</a>
           <a class="dropdown-item" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Sair</a>
         </div>

       </div>
     </li>
    </ul>

  </div>
</nav>
