<div class="container-fluid">
  <div class="card-deck">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="assets\img\operadora.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Cadastro de Operadoras</h4>
        <p class="card-text">Aqui você pode consultar, incluir e alterar as operadoras cadastradas.</p>
        <a href="#" class="btn btn-primary">Operadoras</a>
      </div>
    </div>

    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="assets\img\operadora.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Cadastro de Operadoras</h4>
        <p class="card-text">Aqui você pode consultar, incluir e alterar as operadoras cadastradas.</p>
        <a href="#" class="btn btn-primary">Operadoras</a>
      </div>
    </div>

    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="assets\img\operadora.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Cadastro de Operadoras</h4>
        <p class="card-text">Aqui você pode consultar, incluir e alterar as operadoras cadastradas.</p>
        <a href="#" class="btn btn-primary">Operadoras</a>
      </div>
    </div>

  </div>
</div>


