<div class="container-fluid">
  <div class="card-deck">

    <div class="card hoverable" style="width: 20rem;">
      <img class="card-img-top" src="assets\img\dashboard.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Dashboard</h4>
        <p class="card-text">Aqui você terá acesso aos gráficos montados especialmentes para tomadas de decisão.</p>
      </div>
      <div class="card-footer">
        <a href="dashboard" class="btn btn-primary">Dashboard</a>
      </div>
    </div>

    <div class="card hoverable" style="width: 20rem;">
      <img class="card-img-top" src="assets\img\operadora.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Operadoras</h4>
        <p class="card-text">Aqui você pode consultar, incluir e alterar as operadoras cadastradas.</p>
      </div>
      <div class="card-footer">
        <a href="operadoras" class="btn btn-primary">Operadoras</a>
      </div>
    </div>

    <div class="card hoverable" style="width: 20rem;">
      <img class="card-img-top" src="assets\img\produto.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Produtos</h4>
        <p class="card-text">Aqui você encontra os produtos oferecidos pela operadora. Cada produto possui um ou mais planos, a fim de atender aos mais variadas necessidades.</p>
      </div>
      <div class="card-footer">
        <a href="produtos" class="btn btn-primary">Produtos</a>
      </div>
    </div>

    <div class="card hoverable" style="width: 20rem;">
      <img class="card-img-top" src="assets\img\plano.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Planos de Saúde</h4>
        <p class="card-text">Aqui você encontra os melhores e mais completos planos de saúde, os quais compõem os produtos.</p>
      </div>
      <div class="card-footer">
        <a href="planos" class="btn btn-primary">Planos</a>
      </div>
    </div>

  </div>
</div>


